.container {
    min-height: 100vh;
    background-color: #f0f5f0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 520px;
    background-color: #ffffff;
    padding: 48px 56px;
    border-radius: 10px;
}

.title {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 36px;
    color: #3b823e;
}

.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 22px;
}

.field label {
    font-size: 15px;
    margin-bottom: 8px;
    color: #333;
}

.field input {
    height: 46px;
    padding: 0 14px;
    font-size: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.field input:focus {
    border-color: #3b823e;
    outline: none;
}

.button {
    margin-top: 18px;
    height: 48px;
    width: 100%;
    background-color: #3b823e;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.button:hover {
    opacity: 0.9;
}

/*Thông báo*/

/* Lớp phủ màn hình (làm mờ background) */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Hộp thông báo */
.modal {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 500px;
    max-width: 90%;
}

.modalTitle {
    margin-top: 0;
    color: #28a745;
    font-size: 20px;
    margin-bottom: 20px;
}

.modalActions {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.btnStay {
    flex: 0.4;
    background: #333;
    color: white;
    border: 1px solid #333;
    padding: 15px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s;
}

.btnStay:hover {
    background-color: #01370C;
}

.btnLogin {
    flex: 0.4;
    background-color: #3B823E;
    color: white;
    border: none;
    padding: 15px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.btnLogin:hover {
    background-color: #01370C;
}
