body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    padding: 0px;
    min-width: 1200px;
    background-color: #f4fbf6;
}
/*1.BANNER*/
.imgbanner {
    width: 100%;
    height: auto;
}
.content {
    max-width: 1200px;
    margin: 0 auto;
}

/*3.PRODUCTS*/
.title {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

.productList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
