body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    width: 100%;
    min-width: 1200px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 1px 0 rgba(0,0,0,0.02);
}

.content {
    display: flex;
    background-color: #f4fbf6;
    align-items: center;
    padding: 5px 60px;
    justify-content: space-between;
    margin: 0 auto;
}

/* 1. LOGO */
.logo img {
    height: 70px;
    width: auto;
    object-fit: contain;
    display: block;
}

/* 2. MENU */
.menuheader {
    background-color: #01370C;
    color: white;
}
.menu {
    display: flex;
    gap: 30px;
    padding: 10px;
    color: white;
    justify-content: center;
}

.menuItem {
    display: flex;
    gap: 10px;
    cursor: pointer;
    align-items: center;
    color: white;
    font-weight: 500;
    font-size: 16px;
}
.menuItem:hover {
    color: #f4fbf6;
    font-weight: 700;
}
.menuItem.active span {
    color: #f4fbf6;
    font-weight: 600;
}


/* 3. ACTION */
.action {
    display: flex;
    gap: 25px;
}

.action i {
    font-size: 25px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    color: #01370C;
}
.action i:hover {
    font-size: 30px;
}

/* ===== 2.1 MEGA MENU ===== */
.megaMenu {
    position: fixed;
    top: 110px;
    left: 0;
    width: 100%;
    background: #faf8f3;
    border-top: 1px solid #e5e5e5;
    z-index: 999;
}

.megaContent {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 220px;
    gap: 10px;
}

/* COLUMN */
.column h4 {
    margin-bottom: 15px;
    font-size: 16px;
    color: #1f4d2b;
}

.column a {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    color: #343434;
    gap: 10px;
}

.column a:hover {
    color: #1f4d2b;
}
.column a i {
    font-size: 13px;
    margin-right: 5px;
}

/* IMAGE */
.image img {
    width: 100%;
    border-radius: 8px;
}

/*3.1 MENU DROPDOWN ICON USER*/
/* USER */
.userWrapper {
    position: relative;
    cursor: pointer;
}

/* DROPDOWN */
.userDropdown {
    position: absolute;
    top: 50px;
    right: -40px;
    width: 200px;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 6px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    z-index: 999;
}

.dropdownItem {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 12px;
    font-size: 16px;
    cursor: pointer;
    color: #1f4d2b;
}

.dropdownItem:hover {
    background: #f5f5f5;
}

.divider {
    height: 1px;
    background: #eee;
    margin: 4px 0;
}

.logout {
    color: #d32f2f;
}
