.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 480px;
    background-color: #ffffff;
    padding: 48px 56px;
    border-radius: 10px;
}

.title {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin-top: 0;
    margin-bottom: 36px;
    color: #3b823e;
}

.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.field label {
    font-size: 15px;
    margin-bottom: 8px;
    color: #333;
}

.field input {
    height: 46px;
    padding: 0 14px;
    font-size: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.field input:focus {
    border-color: #3b823e;
    outline: none;
}

.button {
    margin-top: 12px;
    height: 48px;
    width: 100%;
    background-color: #3b823e;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.button:hover {
    opacity: 0.9;
}

/*Modal Thông Báo Thành Công*/
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Nền đen mờ */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modalContent {
    background: white;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    width: 300px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-out;
}

.iconContainer {
    width: 60px;
    height: 60px;
    background-color: #3b823e;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 15px auto;
}

.successTitle {
    margin: 0 0 5px 0;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

.successText {
    color: #333;
    font-size: 14px;
    font-family: Arial, sans-serif;
    margin: 0;
}

/* Nút Đăng ký */
.registerPrompt {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    color: #333;
}

.registerLink {
    color: #3b823e;
    font-weight: 600;
    text-decoration: none;
    margin-left: 5px;
    transition: color 0.3s ease;
}

.registerLink:hover {
    color: #01370C;
}

h3::after{
    background: none;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}
