body {
    background: #F0F5F0;
    margin: 0;
}

.container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 32px;
}

.breadcrumb {
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    color: #999;
    margin-bottom: 24px;
}

.breadcrumb b {
    color: #213547;
}


.tableWrapper {
    width: 100%;
}

.table {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row {
    display: grid;
    grid-template-columns: 60px 1fr 200px 180px 160px;
    align-items: center;
    padding: 24px 0;
    border-bottom: 1px solid #e5e5e5;
}

.header {
    font-size: 16px;
    color: #214738;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.header > div:nth-child(2) {
    padding-left: 96px;
}

.removeBtn {
    width: 28px;
    height: 36px;
    border-radius: 50%;
    border: 2.5px solid #bdbdbd;
    background: transparent;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    font-weight: 700;
    color: #bdbdbd;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);

    transition: all 0.2s ease;
}

.removeBtn:hover {
    border-color: #000;
    color: #000;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    background: #F0F5F0;
}

.product {
    display: flex;
    align-items: center;
    gap: 16px;
}

.product img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    background: #fff;
    border-radius: 6px;
}

.product span {
    font-size: 16px;
}

.price {
    font-size: 18px;
    font-weight: 600;
    color: #3B823E;
}

.quantity {
    display: flex;
    align-items: center;
    gap: 8px;
}

.total {
    font-weight: 600;
    color: #2e7d32;
}


.summary {
    margin-top: 32px;
    padding-top: 20px;
    border-top: 2px solid #e0e0e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subtotal {
    font-size: 18px;
    font-weight: bold;
}


.empty {
    font-size: 16px;
    color: #666;
    text-align: center;
}
Button{
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}
Button:hover{
    background: #336F38;
    color: #fff;
}