.page {
    background:  #f4fbf6;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 32px 36px;
    line-height: 1.7;
    color: #213547;
}

h1 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 28px;
    color: #213547;
}

h2 {
    font-size: 20px;
    margin-top: 28px;
    margin-bottom: 12px;
    color: #214738;
}

p {
    font-size: 16px;
    margin-bottom: 12px;
    color: #333;
}

b {
    font-weight: 600;
}

ul {
    padding-left: 18px;
    margin-bottom: 16px;
}

li {
    font-size: 16px;
    margin-bottom: 8px;
}

a {
    color: #214738;
    text-decoration: underline;
}

a:hover {
    opacity: 0.8;
}

@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 18px;
    }

    p,
    li {
        font-size: 16px;
    }
}
