.paymentBox {
    border: 2px solid #214738;
    background-color: #f0f9f4;
    padding: 16px;
    border-radius: 12px;
    margin-top: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.paymentBox .title {
    margin-bottom: 12px;
    font-size: 16px;
    color: #214738;
    font-weight: bold;
}

h3::after {
    background: none;
}

.paymentBox p {
    margin: 4px 0;
    font-size: 14px;
    color: #555;
}

.paymentBox b {
    color: #3B823E;
}

.qrCode {
    display: block;
    margin-top: 8px;
    width: 100%;
    height: auto;
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    object-fit: contain;
}
